*{
  margin:0;
  padding:0
}

.navbar{
  box-shadow: none !important;
}
.test{flex-basis: 30%;}

.hovererr:hover{
  cursor: pointer;
}

.paddingatas{
  padding-top: 10%;
  padding-left: 5%;
  padding-right: 2%
}

.cartmargin{
  margin-top: 5%;
}